body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather Sans', sans-serif;
}
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position:relative;
}
h1 {
  color: #66BFBF;
  font-size: 50px;
  font-family: 'Berkshire Swash', cursive;
  margin: 50px auto 0 auto;
}
h2 {
  color: #66bfbf;
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 100px;
}
h3 {
  color: #66bfbf;
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: 400;
}
h4 {
  color: #11999E;
}
p {
  line-height: 2;
}
.full {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill {
  position: absolute;
}
.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 450px;
}
.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.support {
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr {
border:none;
border-style: dotted;
color:#586060;
width:4%;
}
.profile {
  margin: 100px auto;
}
.profile-text {
  margin: auto 350px;
  line-height: normal;
  line-height: 2;
}
.contact-me {
  margin: 100px auto;
  width: 50%;
  position: relative;
  line-height: 2.5;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(top bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0;
  position:relative;
}
.footer-link {
  color: #11999E;
  margin: auto 30px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.last-part {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-top: 40px;
}
.giphy-embed {
  width: 25%;
  float: left;
  margin-right: 30px;
  border: 0;
}
